---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
$base-font-family: "Arimo", sans-serif;

@import "minima";

.site-title {
  font-weight: 700 !important;
  color: $brand-color !important;
  &:visited { color: $brand-color; }
}

.site-header {
  border-top: 5px solid $border-color-dark;
}