---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="repo-description">
  Repositorio independiente de escritos y reflexiones de estudiantes de la Licenciatura en Trabajo Social, FHyCS-UNaM
  </div>

<style>
  .repo-description {
    background-color: #f5f5f5; /* Gris claro típico de Minima */
    border-bottom: 1px solid #e8e8e8;
    color: #828282; /* El color de texto secundario de Minima */
    padding: 10px 20px;
    font-size: 0.9em;
    text-align: center;
    margin-top: -30px; /* Ajuste para pegarse al header */
    margin-bottom: 40px;
    font-style: italic;
  }
</style>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
