---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {% assign m = post.date | date: "%-m" %}
        <span class="post-meta">
          {{ post.date | date: "%-d" }} de 
          {% case m %}
            {% when '1' %}enero {% when '2' %}febrero {% when '3' %}marzo {% when '4' %}abril {% when '5' %}mayo {% when '6' %}junio {% when '7' %}julio {% when '8' %}agosto {% when '9' %}septiembre {% when '10' %}octubre {% when '11' %}noviembre {% when '12' %}diciembre
          {% endcase %} de {{ post.date | date: "%Y" }}

          {% if post.author or post.authors %}
            • Por 
            {% if post.authors %}
              {% assign cantidad = post.authors | size %}
              {% for autor_id in post.authors %}
                {% assign autor = site.data.autores[autor_id] %}
                {{ autor.nombre }}{% if cantidad == 2 and forloop.index == 1 %} y {% elsif cantidad > 2 %}{% if forloop.index < forloop.length | minus: 1 %}, {% elsif forloop.index == forloop.length | minus: 1 %}, y {% endif %}{% endif %}
              {% endfor %}
            {% else %}
              {{ post.author }}
            {% endif %}
          {% endif %}
        </span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        
        {{ post.content }}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>